extends layout

block content
  .row.g-3
    .col-12 
      p Last Day Of Previous Month: #{lastDayOfPreviousMonth}
      p First Day Of Next Month: #{firstDayOfNextMonth}


      p form info
      p= formInfo
      - fi = JSON.stringify(formInfo, null, 2)
      pre
        code= fi

      - s = JSON.stringify(subs, null, 2)
      pre
        code= s


