extends layout
include mixins/formCard

block content
  .container-fluid
    .row
      .col-12 
        h1= title

      
      .col-12
        form(action='/all', method="GET")

          label(for="year").form-label Year
            select(name="year", id="year").form-select
              option(value="2023") 2023

          label(for="month").form-label.mx-2 Month
            select(name="month", id="month").form-select
              - for (let i = 1; i <= 12; i++)
                if i < 10
                  - let monthWithZero = "0" + i
                  option(value=monthWithZero) 0#{i}
                else
                  option(value=i)= i
          
          button(type="submit").btn.btn-primary Submit
            
        //- p Welcome to #{reports}

      .col-6
        h1 Active Forms

        each f in ogForms
          +formCard(f)

        - string = JSON.stringify(ogForms, null, 2)
        pre
          code= string
