extends layout

block content
  h1= title
  //- p Welcome to #{reports}
  pre
    code= grid
  h1 Report Title
  h2= reportTitle
  p
    a(href=reportUrl) Go to Reports
  p
    a(href=formUrl) Go to Form
