mixin gettelTable(data) 
  thead 
    tr(scope="row")
      th.table-light Location
      - for (let i = 0; i < data.length - 1; i++) {
        th.table-light.border-start= data[i].text
        th.table-light.fw-normal.border-end Description                  
      - }
  tbody 
    tr 
      td 
        span.bluePill= data[data.length - 1].location
        a.subUrl(href=data[data.length - 1].subUrl)= data[data.length - 1].subUrl 

      - for (let i = 0; i < data.length - 1; i++) {
        td
          span.redPill= data[i].answer
        if !data[i].descAnswer
          td.descCell.border-end 
            span.text-wrap 
              a(href= data[i].picAnswer) Photo
        else 
          td.descCell.border-end 
            span.text-wrap 
              a(href= data[i].picAnswer)= data[i].descAnswer

      - }
    tr